*.svn
**/*.pyc
*.mo
*.*~
log/
.sass-cache
*.DS_Store
.idea/
Vagrantfile
.vagrant/
checkdb
ENV/
*.swp
*.xls
*.orig
*.dockerfile
*.editorconfig
backend/sitemaps/
/.gtm/
local_settings.py
.vscode/
tags
.python-version
.cache/
.coverage
shopee_payment_module.wiki/
tests/test_ast
.pytest_cache/
*.swo
*.swn
node_modules/
package-lock.json
pylint-output.txt
spm-data-fix/
